<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Game of Thrones</title>
</head>
<body data-ng-app="got">
	<ui-view></ui-view>
	<footer style="text-align: center" class="navbar-fixed-bottom">
	    <div class="container">
	        <p>Game of Thrones.</p>
	    </div>
	</footer>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	
	<!-- utilities -->
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/utils/Logger.js"></script>
    <script type="text/javascript" src="js/utils/LocalStorage.js"></script>
    <!-- your app's js -->
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
	<script src="js/controllers/controllers.js"></script>
</body>
</html>